/* ----Fonts---- */

@font-face {
    font-family: VecTerminus18;
    src: url(VecTerminus18Medium.otf);
}

@font-face {
    font-family: VecTerminus18Bold;
    src: url(VecTerminus18Bold.otf);
}

@font-face
{
    font-family:haxrcorp;
    src: url(haxrcorp.ttf);
}


/* ----Styles---- */

/* -Background- */ 

html { 
  background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ---Name--- */

.welcome {
    
   
    width:500px;
	height:60px;
    color: #444444;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    
	/* Centering */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
	
    
    
}



/* ---Bookmarks--- */ 

/* Main */ 
#bookmarks_label {
    text-align: center;
    font-family: monospace;
    font-size: 16px;
    margin-bottom: auto;
        

}
 

.bookmarks {   
    border-style: solid;
	border-width: 1px;
	border-color: #444444;
    background-color: #FFEEDD;
    width:340px;
	height:200px;
	background-color:#FFEEDD;
    padding: 80px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    
    /* Centering */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}




/* Boards */

.boards{
    text-align: center;  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
}
.boards ul{
    min-width: 300px;
	list-style: none;   
}
.boards p{
    height: 0px;
}
.boards li{
    float: left;
    width: 60px;


    /*
    
    border-right-style: solid;
    border-right-color: whitesmoke;
    border-right-width: 1px;
    
    border-style: solid;
	border-width: 1px;
	border-color: #000000;
    
    background-color: #ffffff;
    width:100px;
	height:200px;
    
	background-color:#FFFFFF;
    
     Centering 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-260%, -35.5%);
    
    
    
    
    width: 0px;
    height: 100px;
    position: block;
    top: 50%;
    left: 50%;
    transform: translate(-70%, 50%);
    
    
    
    
    */
    

    
        

}



/* Font */ 
.clink {
	font-size: 16px;
	text-decoration:none;
	line-height: 0px;
	color:#444444;
    font-family: monospace;
    
    
        
}

.clink:hover{
	text-decoration:underline;
}

ul {
	width:75px;
	list-style-type:none;
	float:left;
	padding-left:0px;
	padding-right:0px;
	margin-left:18px;
	margin-right:18px;
    
    
    
}


/* -Clock- */ 
.clock { 
    
    
    border-style: solid;
	border-width: 1px;
	border-color: #444444;
    background-color: #FFEEDD;
    height: 60px;
    width: 100px;
    top: 0px;
	bottom: 300px;
    left: 0px;
    right: 500px;
    margin: auto;
    position: absolute;
    line-height: 60px;
    text-align: center;
    
    /* display: none;  */
    
    /*
    width:672px;
	height:319px;
	position: absolute;
	top: 0px;
	bottom:100px;
    left: 0px;
    right: 0px;
    margin: auto;
	background-color:#FFFFFF;
    
    padding-top: 10pxpx;
    */    
}

#txt {
    
    font-family: haxrcorp,  monospace;
    font-size: 20pt 
    
}

/* -Waifu- */ 

.waifu {
    border-style: solid;
	border-width: 1px;
	border-color: #000000;
    top: 353px;
	bottom: 00px;
    height: 280px;
    width: 160px;
	bottom: 433px;
    left: 340px;
    right: 0px;
    margin: auto;
    position: absolute;
    background-position: center;
	background-repeat: no-repeat;
	background-size: 140%;
    
    display: none; 
}

/* -Art- */

.artwork {
    border: black 1px solid;
    top: 350px;
	bottom: 600px;
    left: 0px;
    right: 440px;
    position: absolute;
    background-position: center;
    margin: auto;
	background-repeat: no-repeat;
	background-size: 100%;
    height: 180px;
    width: 200px;
    z-index: -1;
    
    display: none;
}